@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.wrapper-reg .backRegister, .wrapper-forgot .backRegister {
    position: absolute;
    margin-top: -25px;
    margin-left: -35px;
    background: transparent;
    user-select: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 40px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    color: white;
    border: none;
    font-weight: bold;
}

.wrapper-reg .backRegister:hover, .wrapper-forgot .backRegister:hover {
    background: rgba(188, 188, 188, 0.2);   
    cursor: pointer;
}

.wrapper-reg .backRegister:active, .wrapper-forgot .backRegister:active {
    cursor: pointer;
    transform: scale(0.95);
}

.wrapper-reg .backLogin {
    position: absolute;
    margin-top: -25px;
    margin-left: -35px;
    background: transparent;
    user-select: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 40px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
    font-weight: bold;
    border: none;
}

.wrapper-reg .backLogin:hover {
    background: rgba(188, 188, 188, 0.2);   
    cursor: pointer;
}

.wrapper-reg .backLogin:active {
    cursor: pointer;
    transform: scale(0.95);
}

.wrapper-reg, .wrapper-forgot {
    z-index: 1000;
    visibility: visible;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-49.9%, -50%);
    margin-left: auto;
    margin-right: auto;
    width: 820px;
    /*background-color: rgba(34, 109, 32, 0.30);
    background: transparent;
    background-color: rgba(16, 13, 13, 0.8);
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper-reg h1, .wrapper-forgot h1 {
    font-size: 36px;
    transform: scale(1.01);
    text-align: center;
    user-select: none;
}

.wrapper-reg .input-box, .wrapper-forgot .input-box {
    position: relative;
    user-select: none;
    width: 100%;
    height: 50px;
    margin: 25px 0;
}
*//*
div.form_r .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 40px;
} */
/*
.wrapper-reg .input-box #eye-icon { /*Icona cliccabile per nascondere la password*//*
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

.wrapper-reg .input-box input::placeholder {
    color: #d3d3d3;
}

.wrapper-reg .input-box input:focus::placeholder {
    color: transparent;
}

.wrapper-reg .input-box #login {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper-reg .remember-forgot {
    text-align: center;
    user-select: none;
    font-size: 14px;
    margin: -10px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.wrapper-reg .btn, .wrapper-forgot .btn {
    width: 100%;
    height: 45px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.932) 40%, rgba(230, 230, 230, 0.849) 93%);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    user-select: none;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
}

.wrapper-reg .btn:hover, .wrapper-forgot .btn:hover {
    background: linear-gradient(90deg, rgba(233, 232, 232, 0.896) 40%, rgba(195, 195, 195, 0.858) 93%);
}

.wrapper-reg .btn:active, .wrapper-forgot .btn:active {
    transform: scale(0.98);
    background: linear-gradient(90deg, rgba(189, 189, 189, 0.823) 40%, rgba(155, 155, 155, 0.774) 93%);
}

.wrapper-reg .register-link {
    font-size: 14.5px;
    text-align: center;
    user-select: none;
    margin: 20px 0 0;
}

.wrapper-reg .register-link p a {
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.wrapper-reg .register-link hr {
    border: 0.5px solid #b5b5b5;
    margin: 10px 0;
    display:block;
    font-weight: 600;
}

.wrapper-reg .register-link p a:hover {
    text-decoration: underline;
}
*/


div.form_r{
    border: 2px solid red;
    background-color: rgba(0, 0, 0, 0.382);
    color: blue;
    margin-top: 60px;
    margin-left: 350px;
    margin-right: 350px;
    height: 450px;
}
h1{
    color: red;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}


div.due_colonne{
    width: 100%;
    overflow: auto;
}

div.due_colonne div.input-box{
    width: 48%;  
    float: left;
    margin: 7px;
}

div.input-box input.trattamento{
    width: 10px;
}

div.register-link{
    text-align: center;
}