@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


div.div_f {
    border: 2px solid pink;
    display: grid;

}

div.form_r {
    width: 700px;
    height: 495px;
    border: 2px solid red;
    background-color: rgba(255, 253, 253, 0.382);
    color: black;
    margin-top: 60px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 60px;
}

h1 {
    color: red;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

div.riga {
    border: 2px solid rgb(229, 0, 255);
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 60px;
}

div.input-box_1 {
    float: left; /*rrrrttyfyufyfy*/
    width: 45%;
   /* border: 3px solid rgb(0, 255, 60);*/
    margin: 8px;
    height: 45px;
}

div.input-box_1 input{
    width: 90%;
    height: 100%;
    padding: 10px;
}



div.riga input#trattamento {
    margin-left: 100px;
}

div.riga button.btn {
    width: 100%;
}

div.register-link {
    text-align: center;
}


div.register-link p a{
    color: red;
}

div.riga::after {
    content: "";
    display: table;
    clear: both;
  }


/*Desktop*/
@media (min-width: 1200px) {

 /*   div.form_r {
        background-color: rgb(0, 0, 0);
    }*/
}

/*Tablet*/
@media (max-width: 1000px) {

    /*div.form_r {

        background-color: rgb(255, 0, 0);

    }*/
}

/*Telefoni*/
@media screen and (max-width: 700px) and (min-width: 6px) {

    div.form_r {
        background-color: rgb(13, 0, 255);
        width: 410px;
        height: 495px;
        color: black;
        margin-top: 60px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 60px;
        height: 580px;
    }

    h1 {
        color: red;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;
        size: 10px;
    }

    div.riga {
        width: 100%;
        margin-top:0;
        margin-left:0;
        height: 97px;
    }

    div.riga div.register-link p a {
        background-color: aqua;
    }

    div.input-box_1 {
        width: 100%;
        margin-top:1px;
        height: 40px;
    }

}