
div.riga_prod{
    border: 2px solid black;
    justify-content: space-between;
    margin-left:9px;
    margin-right:9px;
}

div.riga_prod div.prod{
    color: red;
    border: 2px solid blue;
    float: left;
}