.contenitore_prod {
    margin: 1% 15% 1% 15%;
}

.riga1_prodM {
    border: 2px solid black;
    display: flex;
    width: 100%;
}

div.m1c {
    /* colonna */
    width: 50%;
}

img.m1 {
    width: 100%;
    margin-top: 1%;
}

.riga1_r1_prodM {
    border: 2px solid rgb(36, 38, 36);
    margin: 10px;
}

p.des {
    font-weight: 600;
    font-size: 20px;
    margin: 12px 10px 15px 20px;
}

.riga1_r2_prodM {
    margin: 10px;
}

.c_m1 {
    width: 13%;
}

.riga1_r3_prodM {
    margin: 10px;
}

.riga1_r4_prodM {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

div.quant{
    width: 100%;
    display: flex;
}
.car{
    width: 100%;
}
.meno {
    background-color: rgb(255, 255, 255);
    color: black;
}

.number {
    text-align: center;
    width: 150px;
}

.piu {
    background-color: rgb(255, 255, 255);
    color: black;
}


/*Tablet*/
@media screen and (max-width: 768px) {
    .contenitore_prod {
        margin: 1% 5% 1% 5%;

    }

    .riga1_prodM {
        width: 100%;
        flex-direction: column;
    }

    div.m1c {
        /* colonna */
        width: 100%;
        margin-left: auto;
        margin-right: auto;;
    }

    .riga1_r1_prodM {
        margin: 5px;
    }

    p.des {
        font-weight: 600;
        font-size: 15px;
        margin: 12px 10px 15px 20px;
    }

    .riga1_r4_prodM {
        margin: 10px;
    }

    .meno {
        background-color: rgb(255, 255, 255);
        color: black;
    }

    .number {
        text-align: center;
        width: 100%;
    }

    div.quant{
        width: 50%;
    }

    .car {
        width: 100%;
    }

    .piu {
        background-color: rgb(255, 255, 255);
        color: black;
    }
}

/*Telefoni*/
@media screen and (max-width:426px) {
    .riga1_r4_prodM {
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
    }


    div.quant{
        width: 100%;
    }
    
    .car {
        width: 100%;
    }



    .number {
        width: 65%;
    }

}
