* {
  transition: color 0.3s ease;
}

.navbar {
 display: flex;
 justify-content: space-between;
 align-items: center;
 font-size: 2rem;
 background-color: #ffffff;
 color: #000000;
 padding: 1rem;
}

.navbar-left .logo {

 font-size: 2rem;
 font-weight: bold;
 color: #fff;
 text-decoration: none;

}

.navbar-left .logo:hover {
 color: red; 
}

.navbar-center .nav-links {
 font-size: 1.2rem;
 list-style-type: none;
 display: flex;
 margin: 0;
 padding: 0;
}

.navbar-center .nav-links li {
 margin-right: 1rem;
}

.navbar-center .nav-links a {
 color: #fff;
 text-decoration: none;
}

.navbar-right {
 font-size: 2.5rem;
 display: flex;
 align-items: center;
}



#search{
  display: flex;
  justify-content: center;
  align-items: start;
  height: 30px;
  width: 250px;
}

#search_icon{
  height: 30px;
  background-color: #00000011;
  color: black;
  padding: auto;
}


.navbar-right .cart-icon,
.navbar-right .user-icon {
 color: #fff;
 text-decoration: none;
 margin-left: 1rem;
 position: relative;
}

.navbar-right .cart-count {
 background-color: #f44336;
 color: #fff;
 border-radius: 50%;
 padding: 0.2rem 0.5rem;
 font-size: 0.7rem;
 position: absolute;
 top: -0.5rem;
 right: -0.5rem;
}


.navbar-center .nav-links a:hover {
 color: red;
}

.navbar-right .cart-icon:hover,
.navbar-right .user-icon:hover {
 color: red;
}

@media (max-width: 768px) {
 .navbar-center .nav-links {
   display: none;
 }

 .navbar-right {
   display: flex;
   align-items: center;
 }

 .navbar-right .hamburger-menu {
   display: block;
   color: #fff;
   font-size: 1.5rem;
   cursor: pointer;
 }
}

nav {
  background-color: #333;
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  padding: 10px;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #050404;
  padding: 2px;
}

.dropdown li {
  padding: 10px;
  /* Stili per gli elementi del menu */
}

li:hover .dropdown {
  display: block;
}