.carrello-popup {
  position: fixed;
  top: 10%; /* Modifica la posizione verticale secondo le tue esigenze */
  right: 10px; /* Posiziona vicino al bordo destro */
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  
}

.carrello-popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid purple; /* Modifica lo spessore e il colore del bordo */
  width: 300px; /* Modifica la larghezza del pop-up */
  height: auto; /* L'altezza si adatta al contenuto */
  position: relative;
  margin-top: 25px;
  max-height: 400px; /* Imposta l'altezza massima del carrello */
  overflow-y: auto; /* Abilita lo scroll verticale quando il contenuto supera l'altezza massima */
}

.immagine-prodotto {
  width: 50px; /* Imposta la larghezza desiderata */
  height: 60px; /* Imposta l'altezza automaticamente in base al rapporto delle dimensioni originali */
}