.payment-container {
  max-width: 1500px; /* Aumenta la larghezza massima */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.payment-container h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.riga {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.input-box_1 {
  width: calc(50% - 10px);
}

.input-box_1 input {
  width: calc(1000% - 10px); /* Larghezza calcolata per tener conto del padding */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}
.input-box_1 input:focus {
  outline: none;
  border-color: #007bff;
}

.btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.register-link {
  text-align: center;
}

.link_login {
  margin-top: 10px;
}

.link_login a {
  text-decoration: none;
  color: #007bff;
}

.link_login a:hover {
  text-decoration: underline;
}
