.payment-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap; /* Per consentire il wrapping dei campi su più righe se necessario */
}

label {
  flex-basis: 100%; /* Occupa tutta la larghezza disponibile */
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="number"] {
  flex: 1; /* Ogni campo occupa la stessa quantità di spazio disponibile */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px; /* Aggiungi margine destro per separare i campi */
}

input[type="text"]:last-child,
input[type="date"]:last-child,
input[type="number"]:last-child {
  margin-right: 0; /* Rimuovi il margine destro per l'ultimo campo */
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
